@import "./Modals.scss";
@import "./Cart.scss";

$margin: 0px;
$padding: 0px;
$box-sizing: border-box;
$border: none;
$border-radius: 10px;
$justify-content: center;
$align-items: center;
$display: flex;
$width: 100%;
$height: 100%;
$color: #fff;
$list-item: none;
$gap: 10px;
$left: 0;
$top: 0;
$right: 0;
$bottom: 0;

body {
  background-color: #f1ebeb;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
}



.titlecategory {

  @media screen and (max-width: 320px) {
    
  }

  @media screen and (min-width: 375px) {
    font-size: 12px;
    color: #1877F2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  @media screen and (min-width: 425px) {
    font-size: 14px;
    color: #1877F2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    color: #1877F2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    color: #1877F2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media screen and (min-width: 1440px) {
    
  }

  @media screen and (min-width: 2560px) {
    
  }  
}



.header1 {
  font-size: 12px;
 
  @media screen and (max-width: 320px) {
    background-color: #eef218;
  }

  @media screen and (min-width: 375px) {

    ul {
      display: $display;
      margin-left: auto;
      font-size: 12px;
      li {
      list-style: $list-item;
      margin: 10px;
      }
    }
  }

  @media screen and (min-width: 425px) {
    

    ul {
      display: $display;
      margin-left: auto;
      font-size: 12px;
      li {
      list-style: $list-item;
      margin: 10px;
      }
    }

    
  }

  

  @media screen and (min-width: 768px) {
    ul {
      display: $display;
      margin-left: auto;
      font-size: 14px;
      li {
      list-style: $list-item;
      margin: 10px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    ul {
      display: $display;
      margin-left: auto;
      font-size: 15px;
      li {
      list-style: $list-item;
      margin: 10px;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    
  }

  @media screen and (min-width: 2560px) {
    
  }  
}


.header2 {
  background-color: #282C34;
  cursor: pointer;
  @media screen and (max-width: 320px) {
    
  }
  @media screen and (min-width: 375px) {
    display: $display;
    margin: 0px $margin;
    list-style: $list-item;
    gap: 10px;
    align-items: $align-items;
    justify-content: $justify-content;
    .contenedorLogo1 {
      height: 50px;
      .logo1 {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
    }
    
      .containerSeach {
        .seach {
          color: black;
          border: $border;
          width: 200px;
          height: 30px;
          border-radius: 5px ;
          &:focus {
            outline: none;
          }
      }
      .lupa {
        background-color: rgb(180, 66, 180);
        color: white;
        border: $border;
        width: 30px;
        height: 32px;
        margin-left: -30px;
        border-radius: 0px 3px 3px 0px;
        &:hover {
          color: black;
        }
      }
  
     }
  
}

  @media screen and (min-width: 425px) {
    display: $display;
    margin: 0px $margin;
    list-style: $list-item;
    gap: 10px;
    align-items: $align-items;
    justify-content: $justify-content;
    .contenedorLogo1 {
      height: 50px;
      .logo1 {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
    }
    .containerSeach {
      .seach {
        border: $border;
        width: 240px;
        height: 30px;
        border-radius: 5px ;
        &:focus {
          outline: none;
        }
      }
    }

   .lupa {
    background-color: rgb(180, 66, 180);
    color: white;
    border: $border;
    width: 30px;
    height: 32px;
    margin-left: -30px;
    border-radius: 0px 3px 3px 0px;
    &:hover {
      color: black;
    }
  }
  }

  @media screen and (min-width: 768px) {
    display: $display;
    margin: 0px $margin;
    list-style: $list-item;
    gap: 100px;
    align-items: $align-items;
    justify-content: $justify-content;

    .contenedorLogo1 {
      height: 50px;
      .logo1 {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
    }

    .containerSeach {
      .seach {
        color: black;
        border: $border;
        width: 300px;
        height: 30px;
        border-radius: 5px ;
        &:focus {
          outline: none;
        }
    }
    .lupa {
      background-color: rgb(180, 66, 180);
      color: white;
      border: $border;
      width: 30px;
      height: 32px;
      margin-left: -30px;
      border-radius: 0px 3px 3px 0px;
      &:hover {
        color: black;
      }
    }

    }
  }

  @media screen and (min-width: 1024px) {
    display: $display;
    margin: 0px $margin;
    list-style: $list-item;
    gap: 200px;
    align-items: $align-items;
    justify-content: $justify-content;
    .contenedorLogo1 {
      height: 50px;
      .logo1 {
        width: 40px;
        height: 40px;
        margin-top: 5px;
      }
    }
    .containerSeach {
      .seach {
        color: black;
        border: $border;
        width: 400px;
        height: 30px;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
    }
    .lupa {
      background-color: rgb(180, 66, 180);
      border: $border;
      width: 30px;
      height: 32px;
      margin-left: -30px;
      color: white;
      border-radius: 0px 3px 3px 0px;
      &:hover {
        color: black;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    
  }

  @media screen and (min-width: 2560px) {
    
  }

  }

  .containerCart {
    @media screen and (max-width: 320px) {
      
  }
  
  @media screen and (min-width: 375px) {
    height: 30px;
    i {
      color: purple;
      font-size: 22px;
      margin-left: 20px;
      &:hover {
        color: rgb(180, 66, 180);
      }
    }

    p {
      font-size: 12px;
      color: white;
      margin-top: 2px;
    }
  }
  
  @media screen and (min-width: 425px) {
    width: 120px;
    display: $display;
    height: 30px;
    gap: 10px;
    align-items: $align-items;
    justify-content: $justify-content;
    
    i {
      color: purple;
      font-size: 22px;
      &:hover {
        color: rgb(180, 66, 180);
      }
    }

    p {
      font-size: 12px;
      color: white;
      margin-top: 10px;
    }
  }
  
  @media screen and (min-width: 768px) {
    p {
     
      font-size: 12px;
      color: white;
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1024px) {
    width: 150px;
    display: $display;
    height: 30px;
    gap: 10px;
    align-items: $align-items;
    justify-content: $justify-content;
    
    i {
      color: purple;
      font-size: 22px;
      &:hover {
        color: rgb(180, 66, 180);
      }
    }

    p {
      font-size: 12px;
      color: white;
      margin-top: 20px;
    }
  
  }
  
  @media screen and (min-width: 1440px) {
  
  }
  
  @media screen and (min-width: 2560px) {
  
  }  



} 

}

.menu {
  .Link {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: rgb(214, 75, 11);
    }
  }
 
  li {
     cursor: pointer;
     user-select: none;    
  }
 
  @media screen and (max-width: 320px) {
    background-color: #282C34;
  }

  @media screen and (min-width: 375px) {
    background-color: #282C34;
    font-size: 18px;
    width: auto;
    height: 60px;
    display: $display;
    margin: 10px auto;
    align-items: $align-items;
    justify-content: $justify-content;
    padding-right: 35px;

    .ulMenu {
      display: flex;
      margin: auto;
      list-style: $list-item;
      gap: 10px;
      color: $color;
      font-size: 8px;
    }
  }

  @media screen and (min-width: 425px) {
    background-color: #282C34;
    width: auto;
    height: 60px;
    display: $display;
    margin: 10px auto;
    align-items: $align-items;
    justify-content: $justify-content;
    padding-right: 40px;

    .ulMenu {
      display: flex;
      margin: auto;
      list-style: $list-item;
      gap: 10px;
      color: $color;
      font-size: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    
  }

  @media screen and (min-width: 1024px) {
    
    width: auto;
    height: 60px;
    display: $display;
    margin: 5px auto;
    align-items: $align-items;
    justify-content: $justify-content;
  

    .ulMenu {
      display: flex;
      margin: auto;
      list-style: $list-item;
      gap: 20px;
      color: $color;
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1440px) {
    
  }

  @media screen and (min-width: 2560px) {
    
  }


  
}

.divCarrousel {
  border: solid 1px silver;
  display: $display;
  margin: $margin;
  align-items: $align-items;
  justify-content: $justify-content;
  
  
  .carrousel {
    background-color: #FFFFFF;
    width: 100%; 

    
    .dot {
      background-color: rgb(70, 187, 86);
    }

    

    li.dot {
      background: orange;
    }

    li.dot.selected {
      background: purple;
    }

  }

  .thumbs {
    display: none;
   
  }
 
  .contenedorImagen {
    background-color: #1877F2;
    width: 100%;   
  }
  
  .carro {
    background-color: #21965f;
    width: 100%;
    height: 100%; 
  }

  .imgcarrousel {
    width: 100%;
    height: 400px;
  } 
}


.collection{
  @media screen and (max-width: 320px) {
  
  }

  @media screen and (min-width: 375px) {
    background-color: white;
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: auto;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 10px;


    
  .bodyColections {
    width: 365px;
    height: 200px;
    border: solid 1px silver;
    background-color: #F5F5F5;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: $align-items;
    justify-content: $justify-content;
    
    &:hover {
      background-color: #e0d9d9;

      .titleCollection {
        color: rgb(218, 69, 24);
      }
      .infoColection {
        color: rgb(218, 69, 24);
      }
    }

    .containerImageCollection { 
      width: 140px;
      height: 140px;
      display: grid;
      margin: auto;
      align-items: $align-items;
      justify-content: $justify-content;

      .imageCollection {
       width: 100px;
       height: 100px;
       margin-left: 15px;
    }
    }
  }
  }

  @media screen and (min-width: 425px) {
    background-color: white;
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: auto;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(2 , 1fr);
    width: auto;
    height:auto;

    .bodyColections {
      width: 350px;
      height: 200px;
      border: solid 1px silver;
      background-color: #F5F5F5;
      display: grid;
      margin: auto;
      grid-template-columns: auto auto;
      align-items: $align-items;
      justify-content: $justify-content;
      
      &:hover {
        background-color: #e0d9d9;
  
        .titleCollection {
          color: rgb(218, 69, 24);
        }
        .infoColection {
          color: rgb(218, 69, 24);
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    background-color: white;
    display: grid;
    margin: 5px auto;
    grid-template-columns: auto auto auto;
    width: auto;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 20px;

    
  .bodyColections {
    width: 400px;
    height: 200px;
    border: solid 1px silver;
    background-color: #F5F5F5;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: $align-items;
    justify-content: $justify-content;
    
    &:hover {
      background-color: #e0d9d9;

      .titleCollection {
        color: rgb(218, 69, 24);
      }
      .infoColection {
        color: rgb(218, 69, 24);
      }
    }

    .containerImageCollection { 
      width: 140px;
      height: 140px;
      display: grid;
      margin: auto;
      align-items: $align-items;
      justify-content: $justify-content;

      .imageCollection {
       width: 160px;
       height: 160px;
       margin-left: 15px;
    }
    }
  }
  }

  @media screen and (min-width: 1440px) {
  }

  @media screen and (min-width: 2560px) {
  }



  .titleCollection {
    font-size: 28px;
    margin-left: 15px;  
  }
  

  .infoColection {
    margin-left: 15px;
  }

  .buttonShop {
    margin-left: 15px;
    border: none;
    background-color: purple;
    border-radius: 10px;
    height: 30px;
    color: #E3E7E8;
    &:hover {
      background-color: rgb(180, 66, 180);
      color: black;
    }
  }  
  
}


.contenedorCard {

  @media screen and (max-width: 320px) {
  }
  
  @media screen and (min-width: 375px) {
    background-color: #fff;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(1);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  @media screen and (min-width: 425px) {
    background-color: #fff;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(1);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {

    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: $align-items;
    justify-content: $justify-content;

    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  @media screen and (min-width: 1024px) {
    background-color: #fff;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  @media screen and (min-width: 1440px) {
  }
  
  @media screen and (min-width: 2560px) {
  }

  
.bodyCard {

  border: #E3E7E8 1px solid;
  width: 280px;
  height: 430px;
  background-color: #F5F5F5;
  


  &:hover {
    background-color: #e0d9d9;
  }

  .containerImagen {
    display: $display;
    margin: auto;
    list-style: $list-item;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;
    margin-top: -20px;
    width: 260px;
    height: 200px;

    border: solid 1px #E3E7E8;
    background-color: #fff;
  
    
    .imagenCard {
        object-fit: cover;
        width: 150px;
        height: 150px;
        
      }
  }

  .containerInforCard {
    .info {
      width: 260px;
      margin-left: 10px;
      h1 {
        margin-left: 10px; 
        width: 240px;
        font-size: 18px;
        text-transform: uppercase;
      }

      .description {
        margin-left: 10px; 
        width: 240px;
        margin-top: -10px;
        text-transform: capitalize;
      }
    
    .marc {
        margin-left: 10px; 
        width: 240px;
        margin-top: -10px;
        text-transform:  uppercase;
      }

    }
    .starts {
      color: purple;
      margin-left: 10px; 
      width: 240px;
      margin-top: -10px;
    }

   
  }


  .containerInforPrice {
    background: none;
    display: $display;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;
    margin-top: -20px;

    .price {
      font-size: 24px;
    }
    .offert {
      font-size: 20px;
      text-decoration: line-through 1px solid;
      color: red;
    }
    .desc {
      background-color: red;
      color: #fff;
      width: 50px;
      display: $display;
      align-items: $align-items;
      justify-content: $justify-content;
    }
  } 

  .buttonsAdd {
    display: $display;
    margin: $margin;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;

    .buttoAddCart {
    
    color: purple;
    background-color: white;
    border: solid 1px #E3E7E8;
    width: 120px;
    height: 40px;
    &:hover{
      background-color: purple;
      color: white;
    }
  }
  .moreInfo {
    background-color: purple;
    border: solid 1px #E3E7E8;
    color: white;
    width: 120px;
    height: 40px;
    &:hover{
      background-color: rgb(180, 66, 180);
      color: black;
    }
  }
  }
  

}

  
  
}


.socialMedia { 
  @media screen and (max-width: 320px) {
  }
  
  @media screen and (min-width: 375px) {
    display: grid;
    margin: 10px auto;
    margin-top: -10px;
    grid-template-columns: repeat(1);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
    height: auto;
    height: 475px;
    background-color: #fff;
    .contenedor {
      display: grid;
      gap: $gap;
    }

    .instagram {
      border: solid 1px #E3E7E8;
      text-transform: uppercase;
      width: 365px;
      height: 30px;
      margin: auto;
      display: flex;
      align-items: $align-items;
      justify-content: $justify-content;
      
      .containerFollow {
        height: 20px;
        .titlefb {
          font-size: 14px;
          margin: $margin;
          display: flex;
          align-items: $align-items;
          justify-content: $justify-content;
        }
       }

       .containderUser {
        margin: $margin;
        padding-left: 10px;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
    
        
        .user{
        width: 80px;
        margin: auto;
        display: flex;
        user-select: none;
        align-items: $align-items;
        justify-content: $justify-content;
        height: 18px;
        font-size: 12px;
        text-transform: lowercase;
        background-color: #1877F2;
        border-radius: 10px;
        color: white;
        &:hover{
          background-color: #0a5bc5;
          color: white;
        }
       }

       }
      
      

      


    }

    .offers {
      border: solid 1px #E3E7E8;
      width: 365px;
      height: 200px;
      margin: $margin;
      display: grid;
      align-items: $align-items;
      justify-content: $justify-content;

      .titleOffers {
        font-size: 18px;
        padding-left: 35px;
        margin: 0px $margin;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
      }
      .titleDescription {
        padding-left: 20px;
        font-size: 16px;
      }
  
        .listOfferts {
          list-style: $list-item;
  
          li {
            font-size: 12px;
            margin: 0px 0px 2px 0px;
  
            i {
              color: rgb(180, 66, 180);
              padding-right: 5px;
            }
          }
        }
    }
  
  
    .store {
      border: solid 1px #E3E7E8;
      width: 365px;
      height: 200px;
      margin: 0 0 10px 0;

      .titlestore {
        font-size: 18px;
        margin: 5px $margin;
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
      }
      .listStore {
        list-style: $list-item;
        
  
        li {
          margin: 10px 0px 10px 0px;
  
          i {
          color: rgb(180, 66, 180);
          padding-right: 10px;
          width: 20px;
        }
        }
  
        
      }
    }     
  }
  
  @media screen and (min-width: 425px) {
    background-color: #FFFFFF;
    display: grid;
    margin: 5px auto;
    grid-template-columns: repeat(1);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
    height: 500px;

    .contenedor {
      display: grid;
      gap: $gap;
    }


    .instagram {
      border: solid 1px #E3E7E8;
      width: auto;
      margin: $margin;
      display: flex;
      align-items: $align-items;
      justify-content: $justify-content;
  
      .containerFollow {
        height: 20px;
        .titlefb {
          font-size: 14px;
          margin: $margin;
          display: flex;
          align-items: $align-items;
          justify-content: $justify-content;
        }
       }

       .containderUser {
        margin: $margin;
        padding-left: 10px;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
    
        
        .user{
        width: 80px;
        user-select: none;
        margin: auto;
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
        height: 18px;
       }

       }
      
    }
  }
  
  @media screen and (min-width: 768px) {

    height: auto;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(1, 2fr);

    .instagram {
      width: 400px;
      display: flex;
      margin: 5px auto;

      .containerFollow {
        
        height: 20px;

        .titlefb {
          font-size: 14px;
          margin: $margin;
          display: flex;
          align-items: $align-items;
          justify-content: $justify-content;
        }
       }

       .containderUser {
        margin: $margin;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
        
        .user{
        width: 80px;
        margin: auto;
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
        height: 20px;
       }

       }
    }


    .offers {
      
      width: 360px;
      margin: 0px 0px 5px 0px;
    }
    .store {
      width: 360px;
      margin: 0px 0px 5px 0px;
    }

    .contenedor {
      display: grid;
      margin: auto ;
      gap: $gap;
      grid-template-columns: auto auto  ;
    }

    
  }
  
  @media screen and (min-width: 1024px) {
    height: 240px;
    display: grid;
    margin: auto;
    grid-template-columns: auto auto  auto;

    .contenedor {
      display: grid;
      margin: auto ;
      gap: $gap;
      grid-template-columns: auto auto ;

    }


    .instagram {
      border: solid 1px #E3E7E8;
      transform: lowercase;
      width: 310px;
      height: 60px;
      display: grid;
      margin: auto ;
      grid-template-columns: repeat(1)  ;

     
       .containerFollow {
        
        height: 20px;

        .titlefb {
          font-size: 14px;
          margin: $margin;
          display: flex;
          align-items: $align-items;
          justify-content: $justify-content;
        }
       }

       .containderUser {
        margin: $margin;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
        
        .user{
        width: 80px;
        user-select: none;
        margin: auto;
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
        height: 20px;
       }

       }

      
    }


    

    .offers {
      border: solid 1px #E3E7E8;
      width: 400px;
      height: 200px;

      .titleOffers {
        font-size: 24px;
        padding-left: 35px;
        margin: 20px $margin;
        display: grid;
        align-items: $align-items;
        justify-content: $justify-content;
      }
      .titleDescription {
        padding-left: 20px;
        font-size: 16px;
        margin-top: -20px;
      }
  
        .listOfferts {
          list-style: $list-item;
  
          li {
            font-size: 12px;
            margin: 0px 0px 2px 0px;
  
            i {
              color: purple;
              padding-right: 5px;
            }
          }
        }
    }
  
  
    .store {
      border: solid 1px #E3E7E8;
      width: 400px;
      height: 200px;
      
      .titlestore {
        font-size: 24px;
        margin: 5px $margin;
        display: flex;
        align-items: $align-items;
        justify-content: $justify-content;
      }
      .listStore {
        list-style: $list-item;
        
  
        li {
          margin: 10px 0px 10px 0px;
  
          i {
          color: purple;
          padding-right: 10px;
          width: 20px;
        }
        }
  
        
      }
    }     
  }
  
  @media screen and (min-width: 1440px) {
  }
  
  @media screen and (min-width: 2560px) {
  }
   
}








.containerFooter {

  @media screen and (max-width: 320px) {

  }
  
  @media screen and (min-width: 375px) {
    display: grid;
    margin: $margin;
    grid-template-columns: repeat(4, 1fr);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;

    .containerLogo2 {
      display: $display;
      margin: $margin;
      align-items: $align-items;
      justify-content: $justify-content;
      width: 100px;
      height: 100px;
      .logo2 {
        object-fit: contain;
        width: 90px;
        height: 120px;
        margin: auto;
        margin-left: 5px;
      }
      .build {
        font-size: 16px;
        margin-left: 5px;
        background-color: red;
      }
    }
    .information {  
      h1 {
      font-size: 12px;
      border-bottom: silver solid 1px;
      }
      p {
        margin-left: px;
        color: black;
        font-size: 11px;
      }
    }
    .account {
      h1 {
        font-size: 12px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 11px;
        }
    }
    .follow {
      h1 {
        font-size: 12px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 11px;
        }
    }


  }
  
  @media screen and (min-width: 425px) {
    display: grid;
    margin: $margin;
    grid-template-columns: repeat(4, 1fr);
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;

    .containerLogo2 {
      display: $display;
      margin: $margin;
      align-items: $align-items;
      justify-content: $justify-content;
      width: 100px;
      height: 100px;
      .logo2 {
        object-fit: contain;
        width: 100px;
        height: 120px;
        margin: auto;
        margin-left: 5px;
      }
      .build {
        font-size: 16px;
        margin-left: 5px;
        background-color: red;
      }
    }
    .information {  
      h1 {
      font-size: 16px;
      border-bottom: silver solid 1px;
      }
      p {
        margin-left: px;
        color: black;
        font-size: 14px;
      }
    }
    .account {
      h1 {
        font-size: 16px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 14px;
        }
    }
    .follow {
      h1 {
        font-size: 16px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 14px;
        }
    }
  }
  
  @media screen and (min-width: 768px) {
    
  }
  
  @media screen and (min-width: 1024px) {
    display: $display;
    margin: $margin;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 20px;

    .containerLogo2 {
      display: $display;
      margin: $margin;
      align-items: $align-items;
      justify-content: $justify-content;
      width: 330px;
      height: 100px;
      .logo2 {
        object-fit: contain;
        width: 300px;
        height: 120px;
        margin: auto;
        margin-left: 5px;
      }
      .build {
        font-size: 16px;
        margin-left: 5px;
      }
    }
    .information {  
      h1 {
      font-size: 24px;
      border-bottom: silver solid 1px;
      }
      p {
        margin-left: 5px;
        color: black;
        font-size: 16px;
      }
    }
    .account {
      h1 {
        font-size: 24px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 16px;
        }
    }
    .follow {
      h1 {
        font-size: 24px;
        border-bottom: silver solid 1px;
        }
        p {
          margin-left: 5px;
          color: black;
          font-size: 16px;
        }
    }
  }
  
  @media screen and (min-width: 1440px) {
  }
  
  @media screen and (min-width: 2560px) {
  }
  
}



