$margin: auto;
$display: flex;
$justify-content: center;
$align-items: center;
$gap: 10px;
$borderRadius: 5px;
$border: none;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$background: #fff;
$color: #fff;
$templateColumns: repeat(3, 1fr);
$cover: cover;
$marginT: 0px;
$marginB: 0px;
$marginL: 0px;
$marginR: 0px;

.contenedorP {
  background-color: white;
}

.containerPayment {
@media screen and (max-width: 320px) {
}

@media screen and (min-width: 375px) {
  margin:  auto;
  width: 365px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 425px) {
  margin:  auto;
  width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

@media screen and (min-width: 768px) {
  margin:  auto;
  width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  margin:  auto;
  width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  margin:  auto;
  width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 2560px) {

}  
}


.details {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  display: flex;
  gap: 8px;
  margin: 1px auto;
  width: 350px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: #282C34;
  color: white;

  .Name {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  
}

@media screen and (min-width: 425px) {
  background-color: #282C34;
  display: flex;
  gap: 20px;
  margin: 1px auto;
  width: 420px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

 

  .Name {
    width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  background-color: #282C34;
  display: flex;
  gap: 30px;
  margin: 1px auto;
  width: 600px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

  

  .Name {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
}
@media screen and (min-width: 1024px) {
  background-color: #282C34;
  display: flex;
  gap: 20px;
  margin: 1px auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  .name {
    background-color:red;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .priceUnitary{
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .action {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
}


.containerInfoPago {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  display: flex;
  gap: 15px;
  margin: auto;
  width: 350px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    background-color: aqua;
    display: none;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 425px) {
  gap: 30px;
  margin: auto;
  width: 420px;
  height: 30px;
  color : black;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    display: none;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 768px) {
  display: flex;
  gap: 30px;
  margin: auto;
  width: 600px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
  }

  p {
    background-color: none;

  }

  .Name {
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
  
}
@media screen and (min-width: 1024px) {
  display: flex;
  gap: 20px;
  margin: auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
    //margin-left: -40px;
  }

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  .name {
    background-color:red;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto;
  }

  .priceUnitary {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  i {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
    width: 82px;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
 
}  
}


.containerTotals {
@media screen and (max-width: 320px) {
 
}

@media screen and (min-width: 375px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  width: 360px;
  img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    margin-top: 60px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 70px;
}
.dataUser {
  height: 55px;
  display: grid;
  margin-top: -50px;
  margin-left: 70px;
  
  input {
    width: 150px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    height: 20px;
    background-color: silver;
    &:focus {
      outline: none;
    }
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 100px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
      font-weight: bold;
    }
}

button {
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 25px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  color: white;
  margin: 10px;
  background-color: purple;
  &:hover {
  background-color: rgb(180, 66, 180);
  color: black;
  font-weight: bold;
 }
}

}

@media screen and (min-width: 425px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  
  width: 400px;
  img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    margin-top: 40px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 60px;
  display: grid;
  margin-top: -50px;
  margin-left: 70px;

  input {
    width: 150px;
    height: 20px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    background-color: silver;
    color: black;
    &:focus {
      outline: none;
    }
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 100px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
      font-weight: bold;
    }
}

button {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  background-color: purple;
  &:hover {
  background-color: rgb(180, 66, 180);
  color: black;
  font-weight: bold;
 }
}

  
}

@media screen and (min-width: 768px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  width: 600px;
  img {
    width: 50px;
    height: 50px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 30px;
  display: flex;
  margin-top: -25px;
  margin-left: 100px;
  
  input {
    background-color: silver;
    width: 120px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 100px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
      font-weight: bold;
    }
}

button {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  color: white;
  background-color: purple;
  &:hover {
  background-color: rgb(180, 66, 180);
  color: black;
  font-weight: bold;
 }
}

}


@media screen and (min-width: 1024px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  width: 800px;
  img {
    width: 50px;
    height: 50px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 30px;
  display: flex;
  margin-top: -30px;
  margin-left: 140px;
  
  input {
    width: 150px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 100px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-self: center;
  
    p {
      color: black;
      font-size: 14px;
      margin: 10px;
      font-weight: bold;
    }
}

button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: purple;
    &:hover {
    background-color: rgb(180, 66, 180);
    color: black;
    font-weight: bold;
  }
}

}


@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
}