$margin: auto;
$display: flex;
$justify-content: center;
$align-items: center;
$gap: 10px;
$borderRadius: 5px;
$border: none;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$background: #fff;
$color: #fff;
$templateColumns: repeat(3, 1fr);
$cover: cover;
$marginT: 0px;
$marginB: 0px;
$marginL: 0px;
$marginR: 0px;

.contenedorP {
  background-color: white;
}

.containerPayment {
@media screen and (max-width: 320px) {
}

@media screen and (min-width: 375px) {
  margin:  auto;
  width: 365px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 425px) {
  margin:  auto;
  width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

@media screen and (min-width: 768px) {
  margin:  auto;
  width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  margin:  auto;
  width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  margin:  auto;
  width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 2560px) {

}  
}


.details {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  display: flex;
  gap: 8px;
  margin: 1px auto;
  width: 350px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: #282C34;
  color: white;

  .Name {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  
}

@media screen and (min-width: 425px) {
  background-color: #282C34;
  display: flex;
  gap: 20px;
  margin: 1px auto;
  width: 420px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

 

  .Name {
    width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  background-color: #282C34;
  display: flex;
  gap: 10px;
  margin: 1px auto;
  width: 600px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

  

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  .action { 
    width: 100px;
    background-color:red;
  }

  .name {
    background-color:red;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto;
  }

  .priceUnitary {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  i {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
    width: 82px;
    &:hover {
     color: red;
    }
  }
  
}
@media screen and (min-width: 1024px) {
  background-color: #282C34;
  display: flex;
  gap: 20px;
  margin: 1px auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  color: white;

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  

  .name {
    background-color:red;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .priceUnitary{
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .action {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
}


.containerInfoPago {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  display: flex;
  gap: 15px;
  margin: auto;
  width: 350px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    background-color: aqua;
    display: none;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 425px) {
  gap: 30px;
  margin: auto;
  width: 420px;
  height: 30px;
  color : black;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    display: none;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 768px) {
  display: flex;
  gap:10px;
  margin: auto;
  width: 605px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
  }

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  .name {
    background-color:red;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto;
  }

  .priceUnitary {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action { 
    width: 100px;
    background-color:red;
  }


  i {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
    width: 82px;
    &:hover {
     color: red;
    }
  }
  
}
@media screen and (min-width: 1024px) {
  display: flex;
  gap: 20px;
  margin: auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color : black;
  background-color: rgb(247, 244, 244);
  &:hover {
    background-color: silver;
    color : black;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
    //margin-left: -40px;
  }

  .cant {
    background-color: #1253d6;
    margin-right: auto;
    padding-left: 5px;
    width: 60px;
  }

  .name {
    background-color:red;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto;
  }

  .priceUnitary {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .priceTotal {
    color:black;
    width: 100px;
    background-color:red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  i {
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:red;
    width: 82px;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
 
}  
}


.containerTotals {
  width: auto;
  height: auto;
  background-color: red;



  @media screen and (min-width: 425px) {
    .total {
      border: 1px solid silver;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: 10px  ;
        p {
          color: black;
          font-size: 14px;
          margin: 10px;
          font-weight: bold;
        }
    }
  }  

  @media screen and (min-width: 1024px) {
    .total {
      border: 1px solid silver;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: 10px  ;
        p {
          color: black;
          font-size: 14px;
          margin: 10px;
          font-weight: bold;
        }
    }
  }  
}


.contenderBody{

  @media screen and (min-width: 425px) {
    background-color:orange;
    width: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 80px;
    display: flex;
    gap: 10px;
    
    img {
      background-color: red;
      width: 50px;
      height: 50px;
    }
  
    .dataUser {
      width: auto;
      height: 20px;
      
      input {   
        margin:  auto;
        display:grid;
        grid-template-columns: auto auto;
        width: 150px;
        height: 20px;
        border: none;
        margin-left: 10px;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
    }
  
  
  .contendorBoton {
      button {
        position: absolute;
        margin-left: 375px;
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        font-weight: bold;
        user-select: none;
        margin-top: -30px;
      cursor: pointer;
        color: white;
        background-color: purple;
      &:hover {
      background-color: rgb(180, 66, 180);
      color: black;
      font-weight: bold;
      }
      }
  }
  
  .total {
    border: 1px solid silver;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 620px;
      p {
        color: black;
        font-size: 14px;
        margin: 10px;
        font-weight: bold;
      }
   }
  }  






  
  @media screen and (min-width: 1024px) {
      background-color:orange;
      width: auto;
      margin: auto;
      height: 80px;
      gap: 10px;
      grid-template-columns: auto auto;
      margin-left: 20px;
    
      img {
        background-color: red;
        width: 50px;
        height: 50px;
      }
    
      .dataUser {
        width: auto;
        height: 20px;
        display: flex;
        form {
          input {   
            display:flex;
            margin:  auto;
            width: 150px;
            height: 20px;
            border: none;
            margin-left: 10px;
            border-radius: 5px;
            &:focus {
              outline: none;
            }
          }
        }

        
      }
    
    
    .contendorBoton {
        button {
          position: absolute;
          margin-left: 375px;
          border: none;
          border-radius: 5px;
          width: 100px;
          height: 30px;
          font-weight: bold;
          user-select: none;
          margin-top: -30px;
        cursor: pointer;
          color: white;
          background-color: purple;
        &:hover {
        background-color: rgb(180, 66, 180);
        color: black;
        font-weight: bold;
        }
        }
    }
    
    .total {
      border: 1px solid silver;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      margin-top: 50px;
      margin-left: 620px;
        p {
          color: black;
          font-size: 14px;
          margin: 10px;
          font-weight: bold;
        }
     }
    }
}