$margin: auto;
$display: flex;
$justify-content: center;
$align-items: center;
$gap: 10px;
$borderRadius: 5px;
$border: none;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$background: #fff;
$color: #fff;
$templateColumns: repeat(3, 1fr);
$cover: cover;
$marginT: 0px;
$marginB: 0px;
$marginL: 0px;
$marginR: 0px;

.contenedorP {
  background-color: white;
}

.containerPayment {
@media screen and (max-width: 320px) {
}

@media screen and (min-width: 375px) {
  margin:  auto;
  width: 365px;
}

@media screen and (min-width: 425px) {
  margin:  auto;
  width: 400px;
}

@media screen and (min-width: 768px) {
  margin:  auto;
  width: 600px;
}
@media screen and (min-width: 1024px) {
  margin:  auto;
  width: 800px;
}

@media screen and (min-width: 1440px) {
  margin:  auto;
  width: 800px;
}

@media screen and (min-width: 2560px) {

}  
}


.details {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  background-color: #282C34;
  display: flex;
  gap: 8px;
  margin: 1px auto;
  width: 363px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  color: white;

  .Name {
    width: 240px;
    background-color: rgb(173, 17, 17);
  }
}

@media screen and (min-width: 425px) {
  background-color: #282C34;
  display: flex;
  gap: 15px;
  margin: 1px auto;
  width: 400px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  color: white;

  .Name {
    width: 240px;
  }
}

@media screen and (min-width: 768px) {
  background-color: #282C34;
  display: flex;
  gap: 30px;
  margin: 1px auto;
  width: 600px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  color: white;

  .Name {
    width: 200px;
  }
  
}
@media screen and (min-width: 1024px) {
  background-color: #282C34;
  display: flex;
  gap: 50px;
  margin: 1px auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  color: white;

  .Name {
    width: 240px;
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
}


.containerInfoPago {
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  background-color: white;
  display: flex;
  gap: 8px;
  margin: auto;
  width: 360px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  border-top:  solid 1px silver;
  border-left:  solid 1px silver;
  border-right:  solid 1px silver;
  color : black;
  &:hover {
    background-color: rgb(42, 44, 42);
    color : white;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 240px;
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 425px) {
  background-color: white;
  display: flex;
  gap: 10px;
  margin: auto;
  width: 400px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  border-top:  solid 1px silver;
  border-left:  solid 1px silver;
  border-right:  solid 1px silver;
  color : black;
  &:hover {
    background-color: rgb(42, 44, 42);
    color : white;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
  }

  p {
    background-color: none;
  }

  .Name {
    width: 240px;
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 768px) {
    
  background-color: white;
  display: flex;
  gap: 30px;
  margin: auto;
  width: 600px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  border-top:  solid 1px silver;
  border-left:  solid 1px silver;
  border-right:  solid 1px silver;
  color : black;
  &:hover {
    background-color: rgb(42, 44, 42);
    color : white;
  }

  img {
    
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;

  }

  p {
    background-color: none;

  }

  .Name {
    width: 180px;
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
  
}
@media screen and (min-width: 1024px) {
  background-color: white;
  display: flex;
  gap: 50px;
  margin: auto;
  width: 800px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px silver;
  border-top:  solid 1px silver;
  border-left:  solid 1px silver;
  border-right:  solid 1px silver;
  color : black;
  &:hover {
    background-color: rgb(42, 44, 42);
    color : white;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 0px ;
    display: block;
  }

  p {
    background-color: none;

  }

  .Name {
    width: 240px;
  }

  i {
    color: black;
    &:hover {
     color: red;
    }
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
 
}  
}





.containerTotals {
  
  @media screen and (max-width: 320px) {
 
}

@media screen and (min-width: 375px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  border: solid 1px silver;
  width: 360px;
  img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    margin-top: 40px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 70px;
}
.dataUser {
  height: 55px;
  display: grid;
  margin-top: -30px;
  margin-left: 70px;
  
  input {
    width: 150px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    height: 20px;
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 200px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
    }
}

button {
  border: none;
  background: orange;
  border-radius: 10px;
  width: 100px;
  height: 30px;

  &:hover {
    background: orangered;
  }
}

}

@media screen and (min-width: 425px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  border: solid 1px silver;
  width: 400px;
  img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    margin-top: 40px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 60px;
  display: grid;
  margin-top: -50px;
  margin-left: 70px;

  input {
    width: 150px;
    height: 20px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
    background-color: orange;
    color: black;
    &:focus {
      outline: none;
    }
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 200px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
    }
}

button {
  border: none;
  background: orange;
  border-radius: 10px;
  width: 100px;
  height: 30px;

  &:hover {
    background: orangered;
  }
}

  
}

@media screen and (min-width: 768px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  border: solid 1px silver;
  width: 600px;
  img {
    width: 50px;
    height: 50px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 30px;
  display: flex;
  margin-top: -25px;
  margin-left: 100px;
  
  input {
    
    width: 120px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 200px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
    }
}

button {
  border: none;
  background: orange;
  border-radius: 10px;
  width: 100px;
  height: 30px;

  &:hover {
    background: orangered;
  }
}

}


@media screen and (min-width: 1024px) {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  border: solid 1px silver;
  width: 800px;
  img {
    width: 50px;
    height: 50px;
  }

  .logo3 {
  width: 200px;
  margin: auto;
  margin-top: 90px;
}
.dataUser {
  height: 30px;
  display: flex;
  margin-top: -30px;
  margin-left: 140px;
  
  input {
    width: 150px;
    border: none;
    margin: 0 2px;
    border-radius: 5px;
  }
}

.payment {
  display: grid;
  justify-content: center;
  margin: 10px;
  width: 200px;
  margin-left: auto;

    p {
      color: black;
      font-size: 14px;
      margin: 10px;
    }
}

button {
  border: none;
  background: orange;
  border-radius: 10px;
  width: 100px;
  height: 30px;

  &:hover {
    background: orangered;
  }
}

}


@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
}