html {
  background-color: aqua;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  
}


.containerBackground {
  display: flex;
 
  @media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  background-color: aquamarine;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: auto;
  white-space: nowrap;

  .containerLogoIndex {  
    width: 375px;
    height: 375px;
  

    img {
      display: none;
      width: 350px;
      height: 560px;
    }
  }

  .containerDataUser {
    width: 400px;
    height: 400px;
    position: absolute;
    margin: 70px auto;
    
  }

}

@media screen and (min-width: 425px) {
  
  .containerLogoIndex {
    width: 400px;
    height: 580px;

    img { 
      display: block;
      width: 485px;
      height: 560px;
    }
  }

  .containerDataUser {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    position: relative;
    margin-left: -440px;
  }

}

@media screen and (min-width: 768px) {

  .containerLogoIndex {
    width: 400px;
    height: 590px;

    img {
      display: block;
      width: 485px;
      height: 560px;
    }
  }

  .containerDataUser {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    position: relative;
    margin-left: auto;
  }


}
@media screen and (min-width: 1024px) {
  .containerLogoIndex {
    width: 400px;
    height: 600px;

    img {
      width: 485px;
      height: 560px;
    }
  }    

  .containerDataUser {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  
}

@media screen and (min-width: 1440px) {

  .containerDataUser {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
}

@media screen and (min-width: 2560px) {

  .containerDataUser {
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
}  

}

