$margin: auto;
$display: flex;
$justify-content: center;
$align-items: center;
$gap: 10px;
$borderRadius: 5px;
$border: none;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$background: #fff;
$color: #fff;
$templateColumns: repeat(3, 1fr);
$cover: cover;
$marginT: 0px;
$marginB: 0px;
$marginL: 0px;
$marginR: 0px;
$width: 100%;
$height: 100%;



.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.modal.is-open{
  display: flex;
}



.modal-container {
  background-color: orangered;
    @media screen and (max-width: 320px) {
    
    }
  
    @media screen and (min-width: 375px) {
      background-color: tomato;
      position: relative;
      min-width: 300px;
      max-width: 310px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  
    @media screen and (min-width: 425px) {
      background-color: tomato;
      position: relative;
      min-width: 400px;
      max-width: 300px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  
    @media screen and (min-width: 768px) {
      background-color: tomato;
      position: relative;
      min-width: 610px;
      max-width: 650px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      
    }
    @media screen and (min-width: 1024px) {
      background-color: tomato;
      position: relative;
      min-width: 610px;
      max-width: 800px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    }
  
    @media screen and (min-width: 1440px) {

    }
  
    @media screen and (min-width: 2560px) {
      
    }  
  
}


.modal-close {
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
}

@media screen and (min-width: 425px) {
  background-color: pink;

  .modal-close {
    position: relative;
    top: -60px;
    right: 60px;
    border-radius: 50%;
    i {
      border: none;
      cursor: pointer;
      font-size: 30px;
      border-radius: 50%;
      color: #ffc107;
      background-color: white;
      &:hover {
        color: orangered;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  background-color: blue;
}
@media screen and (min-width: 1024px) {
  background-color: green;


  .modal-close {
    position: relative;
    top: -200px;
    right: 60px;
    border-radius: 50%;
    i {
      border: none;
      cursor: pointer;
      font-size: 30px;
      border-radius: 50%;
      color: #ffc107;
      background-color: white;
      &:hover {
        color: orangered;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: purple;
}  



  position: relative;
  top: -130px;
  right: 55px;
  border-radius: 50%;
  i {
    border: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    color: #ffc107;
    background-color: white;
    &:hover {
      color: orangered;
    }
  }
}

@mixin contaninerModal ($background, $borderRadius) {
  background-color: $background;
  border-radius: $borderRadius;
}

.contaninerModal {
  
  @include contaninerModal(#fff, 5px)
}


@mixin bodyModal ($background, $display, $margin, $templateColumns, $width, $height, $gap) {
    background-color: $background;
    display: $display;
    margin: $margin;
    grid-template-columns: $templateColumns;
    width: $width;
    height: $height;
    gap: $gap;

}


.bodyModal {
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  @include bodyModal(red, grid, auto auto auto, repeat(3, 1fr),  300px, 300px, 10px);
}

@media screen and (min-width: 425px) {
  background-color: pink;
  @include bodyModal(pink, grid, auto auto auto, repeat(3, 1fr),  400px, 300px, 10px);
}

@media screen and (min-width: 768px) {
  background-color: blue;
  @include bodyModal(red, grid, auto auto auto, repeat(3, 1fr),  600px, 300px, 10px);
}
@media screen and (min-width: 1024px) {
  background-color: green;
  @include bodyModal(red, grid, auto auto auto, repeat(3, 1fr),  700px, 400px, 10px);
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: purple;
}  
  @include bodyModal(none, grid, auto auto auto, repeat(3, 1fr),  700px, 400px, 10px);

}


@mixin containerImagenModal ($width, $height, $background, $border, $cover,$margin, $marginT, $borderRadius) {
  width: $width;
  height: $height;
  background-color: $background;
  border: $border;
  object-fit: $cover;
  margin: $margin;
  margin-top: $marginT;
  border-radius: $borderRadius;

}

@mixin imge ($margin, $display, $align-items, $justify-content, $width, $height) {
  margin: $margin;
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  width: $width;
  height: $height;
}

.img {
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 425px) {
  background-color: pink;
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  background-color: blue;
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  background-color: green;
  img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: gray;
}  

}


.containerImagenModal  {
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  @include containerImagenModal(100px, 100px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 425px) {
  background-color: pink;
  @include containerImagenModal(100px, 100px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 768px) {
  background-color: blue;
  @include containerImagenModal(200px, 200px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}
@media screen and (min-width: 1024px) {
  background-color: green;
  @include containerImagenModal(250px, 290px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: gray;
}  

}


@mixin carrosusel ($width, $height, $background, $display, $margin, $templateColumns, $marginT, $marginL) {
  width: $width;
  height: $height;
  background-color: $background;
  display: $display;
  margin: $margin;
  grid-template-columns: $templateColumns;
  margin-top: $marginT;
  margin-left: $marginL;

}

.carrosusel {
@include carrosusel(50px, 50px, none, flex, 10px, repeat(3, 1fr), 15px, 0px);

@media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  background-color: pink;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 20px;
    height: 20px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 425px) {
  background-color: pink;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 20px;
    height: 20px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 768px) {
  background-color: blue;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 50px;
    height: 50px;
    margin: 0px 1px;
  }
}
@media screen and (min-width: 1024px) {
  background-color: green;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 60px;
    height: 60px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: gray;
}  

  
}

@mixin containerInfor ($width, $height, $background, $margin, $marginT) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT
}

.containerInfor {
  
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  @include containerInfor(120px, 170px, none,  auto, 30px);
}

@media screen and (min-width: 425px) {
  @include containerInfor(150px, 170px, none,  auto, 30px);
  background-color: #ffc107;
}

@media screen and (min-width: 768px) {
  background-color: blue;
  @include containerInfor(200px, 170px, none,  auto, 30px);
}
@media screen and (min-width: 1024px) {
  background-color: green;
  @include containerInfor(200px, 170px, none,  auto, 30px);
  background-color: #ffc107;
}

@media screen and (min-width: 1440px) {
  background-color: red;
}

@media screen and (min-width: 2560px) {
  background-color: purple;
}  
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }
}




@mixin containerPrices ($width, $height, $background, $margin, $marginT) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT
}

.containerPrices {

  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
  @include containerPrices(60px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }

  input {
    width: 40px;
  }
}

@media screen and (min-width: 425px) {
  background-color: pink;
  @include containerPrices(100px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }

  input {
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  background-color: blue;
  @include containerPrices(160px, 170px, none,  auto, 30px);
   p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }
}
@media screen and (min-width: 1024px) {
  background-color: green;
  @include containerPrices(200px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }

  input {
    width: 40px;
  }
}

@media screen and (min-width: 1440px) {
  background-color: red;
  @include containerPrices(200px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }

  input {
    width: 40px;
  }
}

@media screen and (min-width: 2560px) {
  background-color: purple;
}  

  background-color: aqua;
  
}



@mixin contenedorBoton ($width, $height, $background, $margin, $marginT, $marginL) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT;
  margin-left: $marginL;
}

.contenedorBoton {
  
@media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  background-color: orange; 
}

@media screen and (min-width: 425px) {
  @include contenedorBoton(120px, 30px, none,  auto, 70px, -20px);

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  background-color: blue;

  @include contenedorBoton(120px, 30px, none,  auto, 70px, 20px);

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}


@media screen and (min-width: 1024px) {
  background-color: green;
  @include contenedorBoton(140px, 40px, none,  auto, 160px, 20px );

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 2560px) {
}  

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}




