$margin: auto;
$display: flex;
$justify-content: center;
$align-items: center;
$gap: 10px;
$borderRadius: 5px;
$border: none;
$boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
$background: #fff;
$color: #fff;
$templateColumns: repeat(3, 1fr);
$cover: cover;
$marginT: 0px;
$marginB: 0px;
$marginL: 0px;
$marginR: 0px;
$width: 100%;
$height: 100%;

.modal {
  @media screen and (max-width: 320px) {
   
}

@media screen and (min-width: 375px) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 425px) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 2560px) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  display: none;
  margin: auto;
  justify-content: center;
  align-items: center;
}
}


.modal.is-open{
  display: flex;
}

.modal-container {
    @media screen and (max-width: 320px) {
    
    }
  
    @media screen and (min-width: 375px) {
      margin: auto;
      min-width: 300px;
      max-width: 310px;
      min-height: 400px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  
    @media screen and (min-width: 425px) {
      position: relative;
      min-width: 400px;
      max-width: 300px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  
    @media screen and (min-width: 768px) {
      position: relative;
      min-width: 610px;
      max-width: 650px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      
    }
    @media screen and (min-width: 1024px) {

      position: relative;
      min-width: 610px;
      max-width: 800px;
      min-height: 300px;
      max-height: 400px;
      overflow-y: auto;
      padding: 1rem;
      background-color: rgb(231, 226, 226);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    }
  
    @media screen and (min-width: 1440px) {

    }
  
    @media screen and (min-width: 2560px) {
      
    }  
  
}


.modal-close {
  @media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  color: orange;
  margin-top: -350px;
  position: absolute;
  margin-right: -250px;
  border-radius: 50%;
  font-size: 25px;
  &:hover {
    color: orangered;
  }
}

@media screen and (min-width: 425px) {
  color: orange;
  margin-top: -250px;
  position: absolute;
  margin-right: -345px;
  border-radius: 50%;
  font-size: 25px;
  &:hover {
    color: orangered;
  }
}

@media screen and (min-width: 768px) {
  color: orange;
  margin-top: -250px;
  position: absolute;
  margin-right: -560px;
  border-radius: 50%;
  font-size: 25px;
  &:hover {
    color: orangered;
  }
}
@media screen and (min-width: 1024px) {
  color: orange;
  margin-top: -345px;
  position: absolute;
  margin-right: -650px;
  border-radius: 50%;
  font-size: 25px;
  &:hover {
    color: orangered;
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  


}



@mixin contaninerModal ($background, $borderRadius) {
  background-color: $background;
  border-radius: $borderRadius;
}

.contaninerModal {
  @include contaninerModal(#fff, 5px);
  height: auto;
}


@mixin bodyModal ($background, $display, $margin, $templateColumns, $width, $height, $gap) {
    background-color: $background;
    display: $display;
    margin: $margin;
    grid-template-columns: $templateColumns;
    width: $width;
    height: $height;
    gap: $gap;
}


.bodyModal {
  @media screen and (max-width: 320px) {
}

@media screen and (min-width: 375px) {
  @include bodyModal(white, grid, auto auto auto, repeat(2, 1fr),  300px, 400px, 10px);
}

@media screen and (min-width: 425px) {
  @include bodyModal(white, grid, auto auto auto, repeat(3, 1fr),  400px, 300px, 10px);
}

@media screen and (min-width: 768px) {
  
  @include bodyModal(white, grid, auto auto auto, repeat(3, 1fr),  400px, 300px, 10px);
}
@media screen and (min-width: 1024px) {
  
  @include bodyModal(white, grid, auto auto auto, repeat(3, 1fr),  700px, 400px, 10px);
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
  @include bodyModal(none, grid, auto auto auto, repeat(3, 1fr),  700px, 400px, 10px);

}


@mixin containerImagenModal ($width, $height, $background, $border, $cover,$margin, $marginT, $borderRadius) {
  width: $width;
  height: $height;
  background-color: $background;
  border: $border;
  object-fit: $cover;
  margin: $margin;
  margin-top: $marginT;
  border-radius: $borderRadius;

}

@mixin imge ($margin, $display, $align-items, $justify-content, $width, $height) {
  margin: $margin;
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  width: $width;
  height: $height;
}

.img {
  @media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 425px) {
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  
  @include imge(auto, flex, center, center , 100%, 100%);
  img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  
  img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  

}


.containerImagenModal  {
  @media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
   
  @include containerImagenModal(100px, 100px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 425px) {
  @include containerImagenModal(100px, 100px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 768px) {
  
  @include containerImagenModal(200px, 200px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
  margin-left: -100px;
}
@media screen and (min-width: 1024px) {
  @include containerImagenModal(250px, 290px, none,  1px solid #E3E7E8, cover, auto, 10px, 5px);
  margin: 15px 5px 5px 5px;
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  

}


@mixin carrosusel ($width, $height, $background, $display, $margin, $templateColumns, $marginT, $marginL) {
  width: $width;
  height: $height;
  background-color: $background;
  display: $display;
  margin: $margin;
  grid-template-columns: $templateColumns;
  margin-top: $marginT;
  margin-left: $marginL;

}

.carrosusel {
@include carrosusel(50px, 50px, white, flex, 10px, repeat(3, 1fr), 15px, 0px);

@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  margin-top: 180px;
  img {
    background-color: white;
    border: 2px solid black;
    gap: 5px;
    width: 40px;
    height: 40px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 425px) {
  margin-top: 120px;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 40px;
    height: 40px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 768px) {
  
  margin-top: 15px;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 50px;
    height: 50px;
    margin: 0px 1px;
  }
}
@media screen and (min-width: 1024px) {
  
  margin-top: 15px;
  img {
    background-color: none;
    border: 2px solid black;
    gap: 5px;
    width: 60px;
    height: 60px;
    margin: 0px 1px;
  }
}

@media screen and (min-width: 1440px) {
 
}

@media screen and (min-width: 2560px) {
  
}  

  
}

@mixin containerInfor ($width, $height, $background, $margin, $marginT) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT
}

.containerInfor {
  @media screen and (max-width: 320px) { 
}

@media screen and (min-width: 375px) {
  @include containerInfor(170px, 170px, none,  auto, 15px);
  margin-left: -140px;
}

@media screen and (min-width: 425px) {
  @include containerInfor(150px, 170px, none,  auto, 30px);
  .pri {
    color: red;
  }
}

@media screen and (min-width: 768px) {
  @include containerInfor(140px, 170px, none,  auto, 30px);
}
@media screen and (min-width: 1024px) {
  
  @include containerInfor(200px, 200px, none,  auto, 30px);
  
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 2560px) {
  
}  
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }
}






@mixin containerPrices ($width, $height, $background, $margin, $marginT) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT;
  
}

.containerPrices {

@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  
  @include containerPrices(250px, 150px, none,  auto, -170px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
    margin: 5px;
  }


  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }
  
}

@media screen and (min-width: 425px) {
  
  @include containerPrices(100px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }

  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }

  
}

@media screen and (min-width: 768px) {
  
  @include containerPrices(140px, 170px, none,  auto, 30px);
   p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }
  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }
}

@media screen and (min-width: 1024px) {
  

  @include containerPrices(200px, 200px, none,  auto, 70px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
    display: grid;
  }

  .botons {

    width: 100px;
    height: 100px;
    display: flex;
  }

  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }
}

@media screen and (min-width: 1440px) {
  
  @include containerPrices(200px, 170px, none,  auto, 30px);
  p {
    color: black;
    font-size: 12px;
    padding-left: 5px;
  }
  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }
 
}

@media screen and (min-width: 2560px) {
  input {
    width: 50px;
    display: flex;
    margin: 5px;
    button {
      width: 20px;
    }  
  }
}  
  
}



@mixin contenedorBoton ($width, $height, $background, $margin, $marginT, $marginL) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: $margin;
  margin-top: $marginT;
  margin-left: $marginL;
}

.contenedorBoton {
  
@media screen and (max-width: 320px) {
    background-color: tomato;
}

@media screen and (min-width: 375px) {
  @include contenedorBoton(120px, 30px, none,  auto, 85px, 90px);

  button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 425px) {
  @include contenedorBoton(120px, 30px, none,  auto, 75px, -30px);
  display: flex;
}

@media screen and (min-width: 768px) {
  

  @include contenedorBoton(120px, 30px, none,  auto, 70px, 90px);

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}


@media screen and (min-width: 1024px) {
  @include contenedorBoton(140px, 40px, none,  auto, 120px, 40px );
  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 2560px) {
}  

  button {
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: white;

    &:hover {
      background-color: orangered;
      color: black;
      font-weight: bold;
    }
  }
}




