.containerDataRegisterUser {
  @media screen and (max-width: 320px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 220px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (min-width: 375px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 220px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (min-width: 425px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 220px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (min-width: 768px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 300px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 250px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 300px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 250px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 300px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 250px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media screen and (min-width: 2560px) {
    background-color: rgb(56, 55, 52);
    border-radius: 5px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;

    .containerLogo {
      width: 60px;
      display: flex;
      margin: 10px auto;
      justify-content: center;
      align-items: center;
    }

    .containerRegister {
      width: 300px;
      height: auto;
      background-color: rgb(56, 55, 52);

      p {
        color: white;
        font-size: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
      }

      input {
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 30px;
        width: 250px;
        border-radius: 5px;
        border: solid 1px silver;

        &:focus {
          outline: none;
          border: solid 1px gray;
        }
      }

      button {
        border: none;
        background-color: #6c63ff;
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 5px;
        user-select: none;
        margin: 10px;
        font-weight: bold;

        &:hover {
          background-color: #4d45e9;
          color: black;
        }
      }

      .Link {
        text-decoration: none;
        color: black;
      }
    }
  }
}
