.containerDataRegisterUser {
  background-color: #E6E6E6;
  display: grid;
  margin: auto;
  align-items: center;
  justify-content: center;
  
  .containerLogo {
    width: 80px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }

  .containerRegister {
    width: 300px;
    height: auto;
    background-color: #E6E6E6;

    p {
      color: gray;
      display: grid;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    form {
      display: grid;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    
    input {
      margin: 10px auto;
      display: grid;
      grid-template-columns: auto auto auto;
      height: 30px;
      width: 250px;
      border-radius: 5px;
      border: solid 1px silver;
    
      &:focus {
        outline: none;
        border: solid 1px gray;
      }
    }

    button {
      border: none;
      background-color: #6C63FF;
      color: white;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      border-radius: 5px;
      user-select: none;
      margin: 10px;
  
      &:hover {
        background-color: #4d45e9;
        color: black;
      }
    }

    .Link {
      text-decoration: none;
      color: black;
      }
  }
}
